{% extends "base.html" %}

{% block content %}
<div class="row" align="center">
	<div class="col-sm-12 col-sm-offset-3">
		<h2 class="text-align-center"><strong>¿Quién soy?<strong></strong></h2>
		<p> Soy Miguel Guerrero Luna y estoy aprendiendo a usar el Framwork Django. Quieres saber como aprendí? Pues aquí tienes todo lo que necesitas! </p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
		<p> Mucho texto mucho texto mucho texto mucho texto</p>
	</div>
</div>


{% endblock %}