{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
{% block style %}
.container-main .test{
	background-color: #04478a !important;
	color: white;
}
.fa-5x{
	font-size: 6em;
	text-align: center;
}
{% endblock %}
</style>

{% block container-content %}
<main class="container container-main">

  <div class="test bg-light p-5 rounded">
<div class='row'>
	<div class='col-6'>
 		<h1>APLICACIÓN WEB CON DJANGO 3.2</h1>
    	<p class="lead">Esta página está creada mediante el framework Django, el cual nos permite mediante algo simple crear una página elegante en menos tiempo</p>
   		 <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Información &raquo;</a>
   	</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/ChSvnSv_3aw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
  </div>

 </main>
{% endblock %}
	

{{ titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>

{% block content %}
<div class="container">
<div class="row">
	<div class="col-sm-3">
		<p class="lead .text-align-center" align="center">{{ titulo }}</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type="submit" value="Inscríbete" />
		</form>
	</div>
<div class="col-sm-3">
	<p class="lead .text-align-center" align="center">Creado con Django Bootstrap <span class="fa-stack fa-2x fa-5x">
  <i class="fas fa-square fa-spin fa-stack-2x"></i>
  <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
</span></p>
</div>
<div class="col-sm-3">
	<p class="lead .text-align-center" align="center">Fácil y sencillo</p><img src="{% static 'img/mariquita.jpg' %}" />
</div>
<div class="col-sm-3">
	<p class="lead .text-align-center" align="center">Si quieres aprender, inscríbete<span class="fa-stack fa-5x">
  <i class="fas fa-circle fa-stack-2x" style="color:#257fc4"></i>
  <i class="fab fa-twitter fa-stack-1x fa-inverse" style="color:white"></i>
</span></p>
</div>
</div>
</div>

<hr/>
{% endblock %}

